<div class="layout">
  <aside class="sidebar">
    <div class="brand">CHEMICAL <span>ERP</span></div>

    <ul class="menu" *ngIf="tree().length; else empty">
      <ng-container *ngFor="let m of tree()">
        <li class="menu-item" [class.open]="isOpen(m.id)">
          <div class="row" (click)="m.children.length ? toggle(m.id) : null">
            <i *ngIf="m.icon" [class]="m.icon"></i>

            <!-- leaf -->
            <a *ngIf="m.href; else folder"
               [attr.href]="m.href"
               [class.menu-link-active]="isActive(m.href)">{{ m.title }}</a>

            <!-- folder -->
            <ng-template #folder>
              <span class="folder">{{ m.title }}</span>
            </ng-template>

            <button *ngIf="m.children.length" class="chev" type="button" (click)="toggle(m.id)">▸</button>
          </div>

          <!-- level 2 -->
          <ul class="submenu" *ngIf="m.children.length && isOpen(m.id)">
            <ng-container *ngFor="let c of m.children">
              <li class="menu-item" [class.open]="isOpen(c.id)">
                <div class="row" (click)="c.children.length ? toggle(c.id) : null">
                  <i *ngIf="c.icon" [class]="c.icon"></i>

                  <a *ngIf="c.href; else folder2"
                     [attr.href]="c.href"
                     [class.menu-link-active]="isActive(c.href)">{{ c.title }}</a>
                  <ng-template #folder2>
                    <span class="folder">{{ c.title }}</span>
                  </ng-template>

                  <button *ngIf="c.children.length" class="chev" type="button" (click)="toggle(c.id)">▸</button>
                </div>

                <!-- level 3 -->
                <ul class="submenu" *ngIf="c.children.length && isOpen(c.id)">
                  <li *ngFor="let g of c.children">
                    <a *ngIf="g.href; else plain"
                       [attr.href]="g.href"
                       [class.menu-link-active]="isActive(g.href)">{{ g.title }}</a>
                    <ng-template #plain><span class="folder">{{ g.title }}</span></ng-template>
                  </li>
                </ul>
              </li>
            </ng-container>
          </ul>
        </li>
      </ng-container>
    </ul>

    <ng-template #empty>
      <div *ngIf="!error(); else err" style="opacity:.7">No menu found.</div>
      <ng-template #err><div style="color:#f99">{{ error() }}</div></ng-template>
    </ng-template>
  </aside>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
